:root {
  --bg-color: #13161f;
  --bg-secondary-color: #161c29;
  --primary-color: #f00;
  --border-color: #ffffff6e;
}

html {
  scroll-behavior: smooth;
}
.active {
  color: var(--primary-color);
}

.swiper-navigation-icon {
  color: var(--primary-color);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #161c29;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f00;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f00;
}
