:root {
  --primary-color: #f00;
  --border-color: #ffffff6e;
}

html {
  scroll-behavior: smooth;
}
.active {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 1.2px;
  text-underline-offset: 3px;
}

.navbar a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.chevron-down {
  animation: up-down 1.2s ease-in-out infinite;
}

@keyframes up-down {
  30% {
    margin-top: 40px;
  }
  100% {
    margin-top: 0px;
  }
}

.swiper-navigation-icon {
  color: var(--primary-color);
}
